


.posts .post{
    border-bottom: 1px solid beige;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.posts .post .update-post a{
    padding-left: 5px;
    padding-right: 10px;
    /*border-left: 2px solid turquoise;*/
}
.post .info{
    color: #aaa;
    font-style: italic;
}

.success{
    color: #25ff64;
}

.failed{
    color: #ff101a;
}

.red-color{
    color: #ff101a;
}

.green-mediumspringgreen{
    color:mediumspringgreen;
}
.green-turquoise{
    color:turquoise;
}
.green-orange{
    color:#ff6666;
}
.green-orangered{
    color:orangered;
}

.like-button:visited,.like-button:active {
    color: #ff101a;
}

.like-button:hover{
    font-size: 110%;
    font-weight: bold;
}